*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

:root{
    --color-gray: rgb(218, 218, 218);
    --color-lightblue: rgb(180 208 230);
    --color-darkblue: rgb(0 97 254);
}

/*Utility*/
.container-head{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.padding-y-40{
    padding: 40px 0px;
}

.margin-top-20{
    padding-top: 20px; 
}

.padding-y-20{
    padding: 20px 0px;
}

.margin-y-40{
    margin: 40px 0px;
}

.margin-y-20{
    margin: 20px 0px;
}


.margin-top-20{
    margin: 20px 0px;
}
.col-20{
    width: 20%;
}
.col-30{
    width: 30%;
}
.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.pdf-big-row .info{
   
    margin-top: 80px;
    font-weight: 200;
    font-size: 14px;
}

[class^="col"]{
    border: 1px solid rgba(219, 219, 219, 0.336);
}

h1{
    font-size: 45px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
}

/*layout*/
.header{
    height: 100px;
    background-color: rgb(250, 250, 250);
    padding: 0px 40px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* perchè */
}

.header-flex ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    list-style: none;
   
}

/*SEZIONE HEADER*/
.section-head{
    height: 480px;
    background-color: var(--color-lightblue);
    
}
.section-head .icon{
    margin-top: 70px;
    font-size: 40px;
}

.head-title{
    height: 180px;
    
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;  
}

/*CARD*/
.card-header{
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(206, 206, 206);
}

.card-body{
    padding: 24px;
    border: 1px solid rgb(206, 206, 206);
}

.head-flex{
    display: flex;
    gap: 20px;
}
.card-body h4{
    font-size: 22px;
}
.card-body .prezzo{
    font-weight: 600;
}
.card-body .title-punti{
    font-weight: 600;
    font-size: 16px;
}

.card-body .prezzo-mese{
    font-size: 12px;
    font-weight: 300;
    color: gray;
}

.card-body .oppure{
    padding-top: 20px;

}

.card-body hr{
    margin: 20px 0px;
    width: 50%;
}

.card-body ul{
    list-style-type: none;
    padding: 10px 0px;
    font-size: 15px;
    padding-bottom: 20px;
}
.card-body ul li{
    padding: 5px 0px;
}
.card-body .fa-solid {
    font-size: 12px;
    margin-right: 8px;
}

.pdf-big-row .flex{
    display: flex;
    
}

/*SEZIONE PUNTI DI FORZA*/
.section-punti-di-forza{
    margin-top: 100px;
}

.pdf-flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pdf-col{
    height: 700px;
  
}

.pdf-big-row{
    width: 100%;
    height: 200px;
}

/*SEZIONE PUNTI DI FORZA*/
.drop-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer{
    background-color: black;
    color: white;
}

.footer-flex h4{
    font-weight: 900;
    padding-bottom: 12px;

}

.footer-nav-flex{
    display: flex;
    flex-direction: column;

}

footer ul{
    list-style-type: none;
}

footer .footer-flex{
    display: flex;

}
footer .footer-flex ul li{
    font-size: 12px;
    line-height: 25px;
}

/*pulsanti*/
.btn{
    padding: 5px; 
    display: block;
    background-color: var(--color-darkblue);
    border: 1px solid  rgba(35, 82, 184, 0.925);
    color: white;
    text-decoration: none;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.btn-light{
    border: 1px solid rgb(189, 189, 189);
    padding: 17px 12px;
    text-align: center;
    width: 60%;
}

